<div id="create-book-form">
  <h2>Create Book</h2>
  <form novalidate class="simple-form" ng-submit="bookVm.save()">
    <label>Title:</label>
    <input type="text" ng-model="bookVm.book.title" /><br />
    <label>Description:</label>
    <input type="text" ng-model="bookVm.book.description" /><br />
    <label>Author:</label>
    <input type="text" ng-model="bookVm.book.author" /><br />
    <input type="submit" value="Save" />
    <input type="button" ng-click="bookVm.cleanModel()" value="Reset" />
  </form>
</div>
